<div class="container mt-5">
  <% if user_signed_in? %>
    <%= render "events/tickets_list", tickets: Ticket.where(user_id: current_user.id), header: 'My tickets' %>
  <% end %>
  <hr>
  <p id="notice"><%= notice %></p>
  <%= render "events/tickets_list", tickets: Ticket.all, header: 'All available tickets' %>
  <br>
  <div class="container">
    <button class="btn btn-success" onclick="location.href='/tickets/new'" >
      <%= link_to 'New Ticket', new_ticket_path %>
    </button>
  </div>
</div>
<% if user_signed_in? %>
<script>
  localStorage.setItem("loggedIn", 'true');
</script>
<% else %>
  <script>
    localStorage.setItem("loggedIn", 'false');
  </script>
<% end %>