<div>
<p id="notice"><%= notice %></p>
<%= link_to 'Home', root_path %>
  <%= render "events/tickets_list", tickets: Ticket.all, header: 'All available tickets' %>
  <br>
  <%= link_to 'New Ticket', new_ticket_path %>
</div>