<div class="container mt-5"> 
 <%= render "events_list", events: Event.all, header: 'List of events' %>
  <h1>New Ticket</h1>
  <%= render 'form', ticket: @ticket %>
  <hr>
  <button class="btn btn-success" onclick="location.href='/tickets'" style="margin-bottom: 20px;">
    <%= link_to 'Back', tickets_path %>
  </button>
</div>